
.loc{
    border: none;
    border-radius:5px;
    width: 350px;
    height:150px;
    position:absolute;
    padding: 20px;
    top:13%;
    background: hsla(205, 46%, 50%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 14%, 1) 100%);
    /* background-color: rgb(12, 172, 221); */
    text-align: left;
    left:50px;
}
.loc {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
  }
  
  .loc:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* button{
    position: relative;
    padding:5px;
    top: 10px;
    height:25px;
    width: 70px;
    left: 30px;
    border-radius: 5px;
    outline: none;
    top:18px;
} */
button{
    cursor: pointer;
    width: 30%;
    border: none;
    border-radius:5px;
    background: rgb(23, 209, 162);
    color: white;
    position:relative;
    top:15px;
    left:30px;
    padding: 10px;
    font-size: 15px;
  }
button:hover {
background: rgb(160, 180, 187);
}
  
select{
    position: relative;
    padding:5px;
    display:grid;
    text-align: center;
    height:30px;
    width: 250px;
    left:30px;
    border-radius: 5px;
    outline: none;
    border: none;
    top:13px;
}
option{
    background-color: white;
}
label{
    color:aqua;
    position: relative;
    padding:5px;
    display:grid;
    left: 30px;
    top:8px;
    font-size: 20px;
}
/* .container{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto auto;
    
 } */
 /* .image1{
     float: left; 
     cursor: pointer;
     width:300px;
     height:300px;
     padding: 5px;
     border-radius: 10px;
 } */
 

 .container{
    display:grid;
    grid-template-columns: auto auto auto auto;
}
.image1{
    cursor:pointer;
    position: relative;
    top:170%;
    width:240px;
    padding: 5px;
    border-radius: 15px;
}
.image1:hover {
    width:245px;
    }
.image1:hover {
    box-shadow: 0 8px 16px 0 rgba(22, 22, 22, 0.849)
        }