

<form [formGroup]="locationform">
    <div class="loc">
        <label for="location">Location:</label>
        <select id="location"  formControlName="location"  class="inp" >
            <option value="" disabled>Choose Location</option>
            <option *ngFor="let item of locations_list">{{item}}</option>
            </select><br>
            <button type="submit" (click)="onlocation()">Select</button> 
        </div>
    </form>
    <div class="container">
     <ul *ngFor="let item of image_list">
        <img class =image1 src="{{item}}" (click)="onimage(item)">
    </ul>
    </div>
     <!-- <label for="movie">Movie:</label>
    <select id="movie"  class="inp">
        <option>Select Movie</option>
        <option *ngFor="let item of movies_list">{{item}}</option>
        </select>  -->