
<form [formGroup]="signupform">
    <div class="card1">
            
            <h1>Add User</h1>

            <label for="name"><b>Name</b></label> 
            <input type="text" formControlName="name" placeholder="Enter Name" pattern="[a-zA-z]+$" minlength="6" name="name"  required > 
            <span class="validation" *ngIf=" name &&name.invalid && name.touched">Enter a valid Name</span><br>
        
            <label for="phoneno"><b>PhoneNo</b></label> 
            <input type="text" formControlName="phoneno"  placeholder="Enter PhoneNo" pattern="^((\\+91-?)|0)?[0-9]{10}$"  name="phoneno"  required>
            <span class="validation" *ngIf=" phoneno && phoneno.invalid && phoneno.touched">Enter a valid Phoneno</span><br>
           
            <label for="email"><b>Email</b></label> 
            <input  formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" placeholder="Enter Email" name="email" required >
            <span class="validation" *ngIf="email && email.invalid && email.touched">Enter a valid Email</span><br>

            <label for="password"><b>Password</b></label> 
            <input  formControlName="password" type="password" pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$' placeholder="Enter Password" name="password" required>
            <span class="validation" *ngIf="password && password.invalid && password.touched">Enter a valid Password with minlength 5</span><br>

            <button [disabled]="signupform.invalid" type="submit" class="button" (click)="adduser()">AddUser</button> 


    </div>
</form>
<div class="row" *ngIf="admins.length>0; else elseblock">
    <div class="column" *ngFor="let item of admins" >
      <div class="card">
            <tr>
        <td>
          <h3 style="color:rgb(57, 105, 179)">Name: <span style="color: rgb(247, 60, 14);">{{item.name}}</span></h3>
        </td>
        <td>
          <h3 style="color:rgb(57, 105, 179)">Email: <span style="color: rgb(247, 60, 14);">{{item.email}}</span></h3>
        </td>
        </tr>
        <tr>
        <td>
            <h3 style="color:rgb(57, 105, 179)">Phoneno: <span style="color: rgb(247, 60, 14);">{{item.phoneno}}</span></h3>
          </td>
          <td>
            <h3 style="color:rgb(57, 105, 179)">Role: <span style="color: rgb(247, 60, 14);">{{item.role}}</span></h3>
          </td>
        <button  type="submit" class="button1" (click)="onremove(item.email)">Remove</button>
    </tr>
    </div>
  </div>
  </div>
  <ng-template #elseblock >
    <h1 style="text-align: center; color:red">No Admins Found</h1>
  </ng-template>

  <div class="row" *ngIf="users.length>0; else elseblock">
    <div class="column" *ngFor="let item of users" >
      <div class="card">
            <tr>
        <td>
          <h3 style="color:rgb(57, 105, 179)">Name: <span style="color: rgb(247, 60, 14);">{{item.name}}</span></h3>
        </td>
        <td>
          <h3 style="color:rgb(57, 105, 179)">Email: <span style="color: rgb(247, 60, 14);">{{item.email}}</span></h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3 style="color:rgb(57, 105, 179)">Phoneno: <span style="color: rgb(247, 60, 14);">{{item.phoneno}}</span></h3>
          </td>
          <td>
            <h3 style="color:rgb(57, 105, 179)">Role: <span style="color: rgb(247, 60, 14);">{{item.role}}</span></h3>
          </td>
          <button  type="submit" class="button2" (click)="makeadmin(item.email)">Make Admin</button>
          <button  class="button1" (click)="onremove(item.email)">Remove</button>
        </tr>
        </div>
  </div>
  </div>
  <ng-template #elseblock >
    <h1 style="text-align: center; color:red">No Users Found</h1>
  </ng-template>