
<h1 style="text-align:center;color:red">Booking confirmation</h1>

<div class="container">
    <h4 class="child">Name:</h4>
    <h4 class="child">{{name}}</h4>
    <h4 class="child">Email:</h4>
    <h4 class="child">{{email}}</h4>
    <h4 class="child">Seats_Booked:</h4>
    <h4 class="child">{{seats_booked}}</h4>
    <h4 class="child">Seats:</h4>
    <h4 class="child">{{seats}}</h4>
    <h4 class="child">Showtiming:</h4>
    <h4 class="child">{{showtiming}}</h4>
    <h4 class="child">Theater:</h4>
    <h4 class="child">{{theater}}</h4>
    <h4 class="child">Movie:</h4>
    <h4 class="child">{{movie}}</h4>
    <h4 class="child">Location: </h4>
    <h4 class="child">{{location}}</h4>
    <h4 class="child">Ticketprice: </h4>
    <h4 class="child">{{ticketprice}}</h4>
    <h4 class="child">TotalAmount:</h4>
    <h4 class="child">{{totalamount}}</h4>
</div>

