<div class="main">
<form [formGroup]="theaterform" (change)="ontheater()">
    <div class="thea">
        <label class="label1" for="title">Theater:</label>
        <select class="select1" id="title"  formControlName="theater">
            <option value="" disabled>Choose Theater</option>
            <option *ngFor="let item of theaters_list">{{item}}</option>
            </select><br>
            <!-- <input  type="text" formControlName="theater" placeholder="Enter Movie" name="movie" required>
            <span class="validation" *ngIf="theater && theater .invalid && theater .touched">Enter a valid Location</span><br> -->
            <!-- <button type="submit" (click)="ontheater()">Select</button>
            <ul *ngFor="let item of shows_list">
                <li>show_timing: {{item}}</li>
                <li>Movie: {{movie_selected}}</li>
                <li>Theater: {{theater_selected}}</li>
                <br>
            </ul>  -->
        </div>
    </form>
    <form [formGroup]="showsform" (change)="onshows()">
        <div class="show">
            <label class="label2" for="shows">Shows:</label>
            <select class="select2" id="shows"  formControlName="showtiming" >
                <option value="" disabled>Choose show</option>
                <option *ngFor="let item of shows_list">{{item}}</option>
                </select><br>
        </div>
    </form>
</div>
    <div class="container">
        <ul *ngFor="let item of images_list">
            <div><img id="image1" src="{{item}}"  (click)="onimage(item)" ></div>
        </ul>
    </div>

    

      <div class="card">
            <tr>
            <td>
            <h3 style="color:rgb(57, 105, 179)">Location: <span style="color: rgb(247, 60, 14);">{{location_selected}}</span></h3>
          </td>
          <td>
            <h3 style="color:rgb(57, 105, 179)">Movie: <span style="color: rgb(247, 60, 14);">{{movie_selected}}</span></h3>
          </td>
        </tr>
        <tr>
            <td>
            <h3 style="color:rgb(57, 105, 179)">Theater: <span style="color: rgb(247, 60, 14);">{{theater_selected}}</span></h3>
          </td>
          <td>
            <h3 style="color:rgb(57, 105, 179)">Show_time: <span style="color: rgb(247, 60, 14);">{{showtiming_selected}}</span></h3>
          </td>
          <td>
            <button  type="submit" class="button1" (click)="onselect()">BookSeats</button>
          </td>
        </tr>
      </div>

