
#image{
    height: 550px;
    width: 101.2%;
    margin-left:-8px;
  

}
.container {
  position: relative;
  text-align: center;
}



.welcome {
  position: absolute;
  top: 39%;
  left: 30%;
  font-size: 40px;
  font-family: 'Courgette', cursive;
  font-family: 'Lobster', cursive;
  color: crimson;
  display: block;
  border-radius: 10px;
}

.welcome1 {
  position: absolute;
  top: 48%;
  left: 38%;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  color: crimson;
  display: block;
  border-radius: 10px;
}