
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 td{
   width: 350px;
 }
  .column {
    width:90%;
    padding: 0 2px;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-top: 10px;
  }
  
  * {
    box-sizing: border-box;
  }
  
 