
<form [formGroup]="addlocationform">
    <div class="card">
            
            <h1>Add Location</h1>

            <label for="name"><b>Location</b></label> 
            <input type="text" formControlName="location" placeholder="Enter location" pattern="[a-zA-z]+$"  name="location"  required > 
            <span class="validation" *ngIf=" location && location.invalid && location.touched">Enter a valid location</span><br>
            <label for="movie">Image url:</label>
            <input  type="text" formControlName="image" placeholder="Enter image url" name="image"><br>
            <button [disabled]="addlocationform.invalid" type="submit" class="button" (click)="addlocation()">Submit</button> 
    </div>
</form>

<div class="row" *ngIf="locations.length>0; else elseblock">
    <div class="column" *ngFor="let item of locations" >
       
      <div class="card1">
            <tr >
        <td >
          <h3 style="color:rgb(57, 105, 179)">Location:<span style="color: rgb(247, 60, 14);">{{item.location}}</span></h3>
        </td>
            <button style="background:rgb(46, 105, 214);height: 30px;" type="submit" class="button1" (click)="ondelete(item.location)">Delete</button>
        </tr>
        </div>
  </div>
  </div>
  <ng-template #elseblock >
    <h1 style="text-align: center; color:red">No Locations Found</h1>
  </ng-template>









<!-- <form  [formGroup]="usersignupform">
    <div class="card">
            
            <h1>Signup</h1>

            <label for="name"><b>Name</b></label> 
            <input type="text" #name="ngModel" placeholder="Enter Name" pattern="[a-zA-z]+$" minlength="6" name="name"  required > 
            <span class="validation" *ngIf="name.invalid && name.touched">Enter a valid Name</span><br>
        
            <label for="phoneno"><b>PhoneNo</b></label> 
            <input type="text" #phoneno="ngModel"  placeholder="Enter PhoneNo" pattern="^((\\+91-?)|0)?[0-9]{10}$"  name="phoneno" ngModel required>
            <span class="validation" *ngIf="phoneno.invalid && phoneno.touched">Enter a valid Phoneno</span><br>
           
            <label for="email"><b>Email</b></label> 
            <input  #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" placeholder="Enter Email" name="email" ngModel required >
            <span class="validation" *ngIf="email.invalid && email.touched">Enter a valid Email</span><br>

            <label for="password"><b>Password</b></label> 
            <input  #password="ngModel" type="password" pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$' placeholder="Enter Password" name="password" ngModel required>
            <span class="validation" *ngIf="password.invalid && password.touched">Enter a valid Password with minlength 5</span><br>

            <button [disabled]="signinform.invalid" type="submit" class="button" (click)="signup(signupform.value)">Signup</button> 


    </div>
</form> -->