
<mat-toolbar color="primary" id="Navbar" class="mat-elevation-z8">
  <div>
    <span class="child"><mat-icon>theaters</mat-icon></span>
    <span>Movie Ticket Booking</span>
  </div>
  <div>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="adminhome">Home</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="users">Users</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="addlocation">Location</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="addmovie">Movie</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="addtheater">Theater</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="addshowtime">Showtime</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="allbookings">Bookings</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="adminlocation">Book Tickets</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="adminmybookings">My Bookings</a>
    
    <a mat-button *ngIf="apiservice.loggedin && !apiservice.admin" routerLink="home">Home</a>
    <a mat-button *ngIf="apiservice.loggedin && !apiservice.admin" routerLink="location">Book Tickets</a>
    <a mat-button *ngIf="apiservice.loggedin && !apiservice.admin" routerLink="bookings">My Bookings</a>
    <a mat-button *ngIf="!apiservice.loggedin" routerLink="login">Login</a>
    <a mat-button *ngIf="!apiservice.loggedin" class="signup" routerLink="signup">Signup</a>
    <a mat-button *ngIf="apiservice.loggedin" class="Logout"(click)="apiservice.userlogout()">Logout</a>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>