

#Navbar{
    /* width:1351px; */
    width:101.2%;
    position: sticky;
    justify-content: space-between;
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 14%, 1) 100%);
    background:rgb(32, 94, 94);
    margin-left:-8px;
    margin-top:-10px;
}

a{
    padding-right: 8px;
    font-size: 20px;

}

.signup{
    padding-right: 70px;
}
.Logout{
    padding-right: 20px;
}

.child{
    position: relative;
    top: 2px;
}