
.icons{
    position: relative;
    left:105px;
    top:40px;
}
.price{
    background: rgb(25, 53, 214);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
    left:700px;
    top:-41px;
}
table {
    border: 1px solid;
    margin: auto;
    width: 80% ;
    height: 70% ;
}

.seat-select {
    cursor: pointer;
    background: rgb(226, 224, 224);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: grey;
}

.seat-selected {
    cursor: pointer;
    background: rgb(74, 158, 74);
    color: white;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.seat-disabled {
    cursor: not-allowed;
    background: brown;
    color: white;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#submitButton {
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 21px;
}




