

<h1 style="text-align:center ; color:red">Seat Layout</h1>

<div class="icons" style="width: 100px; margin: 20px; display: block;">
        
    <span [ngClass]="{'seat-disabled': true}">Booked</span>
    <span [ngClass]="{'seat-selected': true}">Selected</span>
    <span [ngClass]="{'seat-select':true}">Available</span>
    <span class="price" style="width: 200px; display: block;">Ticket Price: 100RS</span>
</div>
<div class="container-fluid">
    <table>
        <tr *ngFor="let row of rows">
            <td *ngFor="let col of cols">
                <div [ngClass]="{'seat-select': !isseatavailable(row , col), 'seat-selected':isseatavailable(row,col),
                 'seat-disabled':isseatbooked(row,col)}"
                    (click)="seatSelect(row,col)">{{rowname[row]+''+(col+1)}}</div>
            </td>
        </tr>
    </table>
    <button (click)="bookseats()" id="submitButton">Book Seats</button>
</div>

