
.container{
    display:grid;
    grid-template-columns: auto auto auto;
}
#image1{
    position: relative;
    top:170px;
    cursor: pointer;
    width:390px;
    height:250px;
    padding: 5px;
    border-radius: 15px;
    margin-right: 5px;
}
#image1:hover {
    width:393px;
    height:253px;
    }
#image1:hover {
    box-shadow: 0 8px 16px 0 rgba(22, 22, 22, 0.849)
      }
.mov{
    border: none;
    border-radius:5px;
    width: 350px;
    height:130px;
    position:absolute;
    padding: 20px;
    top:13%;
    left: 53px;
    background: hsla(205, 46%, 50%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 14%, 1) 100%);
    text-align: left;
}
.mov {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
  }
  
  .mov:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* button{
    position: relative;
    padding:5px;
    top: 10px;
    height:25px;
    width: 70px;
    left: 30px;
    border-radius: 5px;
    outline: none;
    top:-5px;
} */
.button1{
    cursor: pointer;
    border: none;
    border-radius:5px;
    height: 35px;
    width: 100%;
    background: rgb(57, 105, 179);
    color: white;
    font-size: 15px;
  }
.button1:hover {
background: rgb(160, 180, 187);
}
select{
    position: relative;
    top:15px;
    padding:5px;
    display:grid;
    text-align: center;
    height:30px;
    width: 250px;
    left:30px;
    border-radius: 5px;
    outline: none;
    border: none;
}
label{
    color:aqua;
    position: relative;
    padding:5px;
    display:grid;
    left: 30px;
    top:15px;
    font-size: 20px;
}


.card{
    border: none;
    border-radius:5px;
    width: 650px;
    height:130px;
    position:absolute;
    padding: 20px;
    top:13%;
    left:500px;
    text-align: left;
}
.card {
    border-radius: 10px;
    background-color: rgb(245, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 td{
    position:relative;
    top:30px;
    left:15px;
    width: 40%;
 }

  * {
    box-sizing: border-box;
  }
  .column {
    float:left;
    width:28%;
    padding: 0 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
  }
  
  /* .row {
    margin: auto} */
/*   
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */